<div class="card">
  <h1>Mister Cocktails</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=background_img(cocktail)%>)">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      </div>
    <% end %>
  </div>
</div>
